# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# JWT keys (sensitive)
jwt-signing.pem
jwt-signing.pub

# Environment / secrets
.env

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Internal docs / tooling (not for public repo)
README.md
Simple_LMS_API.postman_collection.json
TUTORIAL_DEPLOY_RAILWAY.md
TUTORIAL_TEST_API.md
