asgiref==3.11.1
Django==5.2.13
django-silk==5.5.0
django-ninja==1.4.5
pillow==12.2.0
psycopg2-binary==2.9.10
sqlparse==0.5.5
typing_extensions==4.15.0
django-ninja-simple-jwt
cryptography
gunicorn==23.0.0
dj-database-url==2.3.0
whitenoise==6.8.2